<section class="sidebar">
  <div class="project-icon" routerLink="./">

  </div>

  <nav>
    <span class="active-line" [style.transform]="activeLinePosition" [style.background]="activeLineColor"></span>
    <ul>
      <li routerLink="./docs" (click)="moveActiveLine(0)">
        <i class="fa fa-book" aria-hidden="true"></i>
      </li>
      <li routerLink="./boards" (click)="moveActiveLine(1)">
        <i class="fa fa-trello" aria-hidden="true"></i>
      </li>
      <li routerLink="./issues" (click)="moveActiveLine(2)">
        <i class="fa fa-bug" aria-hidden="true"></i>
      </li>
      <li routerLink="./settings" (click)="moveActiveLine(3)">
        <i class="fa fa-gear" aria-hidden="true"></i>
      </li>
    </ul>
  </nav>

</section>

<section class="viewport" #viewport >
  <router-outlet></router-outlet>
</section>
