<section class="sidebar">
  <div class="project-icon" routerLink="./">

  </div>

  <nav>
    <ul>
      <li routerLink="./docs">
        <i class="fa fa-book" aria-hidden="true"></i>
      </li>
      <li routerLink="./boards">
        <i class="fa fa-trello" aria-hidden="true"></i>
      </li>
      <li routerLink="./issues">
        <i class="fa fa-bug" aria-hidden="true"></i>
      </li>
      <li routerLink="./settings">
        <i class="fa fa-gear" aria-hidden="true"></i>
      </li>
    </ul>
  </nav>

</section>

<section class="viewport">
  <router-outlet></router-outlet>
</section>
