<section class="navbar" >
  <div class="project-icon" routerLink="./">
    <i class="material-icons">dashboard</i>
  </div>

  <nav>
    <span class="active-line" [style.transform]="activeLinePosition" [style.background]="activeLineColor"></span>
    <ul>
      <li routerLink="./docs" (click)="moveActiveLine(0)">
        <i class="material-icons">book</i>
      </li>
      <li routerLink="./boards" (click)="moveActiveLine(1)">
        <i class="material-icons">view_week</i>
      </li>
      <li routerLink="./issues" (click)="moveActiveLine(2)">
        <i class="material-icons">bug_report</i>
      </li>
      <li routerLink="./settings" (click)="moveActiveLine(3)">
        <i class="material-icons">settings</i>
      </li>
    </ul>
  </nav>

</section>

<section class="viewport" >
  <router-outlet></router-outlet>
</section>
