/* You can add global styles to this file, and also import other style files */
@import 'fonts';
@import '../node_modules/open-color/open-color';

html, body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  background: $oc-gray-9;
  overflow: hidden;
}

.simplebar-track.horizontal {
  display: none;
}

.viewport {
  .simplebar-track.vertical {
    top: 0.3rem;
    bottom: 0.3rem;
    right: 0.3rem;
    width: 0.5rem;
    background: #EEE;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 1;

    .simplebar-scrollbar {
      position: absolute;
      right: -0.25rem;
      border-radius: 0.5rem;
      min-height: 10px;
      width: 0.5rem;
      opacity: 1;
      background: #CCC;
      border: 0.3rem solid #FFF;
      background-clip: padding-box;
      margin-top: -0.3rem;
    }
  }
}

